var trainconf={
    'accessToken' : 'DA1C7740-9DA0-11E4-80E6-A920340000B1',
    'station': 'chm',
    'toStation': null,
    'fontSize': '100%',
    'updateInterval': 60,
    'showSecondsClock': true,
    'showDate': false,
    'showPlatformInMarquee': true,
    'waitForMarquee': true,
    'showCoachLength': true,
    'shortenInternational': true,
    'alwaysShowBusses': true,
    'showNrccMessagesMarquee': true
}